<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OAuth 2.0 Authorization Code Grant Flow</title>
</head>
<body>
	<h1>OAuth 2.0 Authorization Code Grant Flow</h1>
    <p>
    	To begin the OAuth 2.0 Authorization Code Grant flow the client application should redirect the user to 
    	this consent application, passing client_id, response_type and scope parameters.
    </p>
    <p>
    	Click the link below to start an example flow.
        <br><a href="{{.consentURI}}">{{.consentURI}}</a>
    </p>    
</body>
</html>